server:
  port: 8085
spring:
  datasource:
    driverClassName: oracle.jdbc.OracleDriver
    url: jdbc:oracle:thin:system/oracle@10.243.136.57:1521:Eversbox
    username: DDL_INDUCTION
    password: DDL_INDUCTION

  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.Oracle12cDialect
        show_sql: true
    hibernate:
      ddl-auto: none

logging:
  level:
    org:
      hibernate:
        type: trace
